<!doctype html>
<html lang="en">
<!-- Sophia Pro , poppins-->

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1">
	<meta name="description"
		  content="">
	<title>Xlera Solutions DEV</title>

	<!-- Bootstrap core CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
		  crossorigin="anonymous">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
			crossorigin="anonymous"></script>
	<link rel="preconnect"
		  href="https://fonts.googleapis.com">
	<link rel="preconnect"
		  href="https://fonts.gstatic.com"
		  crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600;1,700&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet"
		  href="./stylesheets/site.css">
</head>

<body>
	<nav class="navbar navbar-expand-md py-3 fixed-top bg-white shadow-sm">
		<div class="container-fluid">
			<a class="navbar-brand"
			   href="/">
				<img src="./images/Xlera-Logo@2x.png"
					 class="img-fluid ps-3"
					 alt="logo"
					 style="max-height:56px;">
			</a>
			<button class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse"
					aria-expanded="false"
					aria-label="Toggle navigation">
				<svg xmlns="http://www.w3.org/2000/svg"
					 width="32"
					 height="32"
					 fill="currentColor"
					 class="bi bi-list"
					 viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
				</svg>
			</button>
			<div class="collapse navbar-collapse"
				 id="navbarCollapse">
				<ul class="navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item px-md-3">
						<a class="nav-link fs-5"
						   href="about">About</a>
					</li>
					<li class="nav-item px-md-3">
						<a class="nav-link active fs-5"
						   aria-current="Join A-Team"
						   href="a-team">Join A-Team</a>
					</li>
					<li class="nav-item ps-md-5">
						<a href="#"
						   class="btn btn-accent px-4">Book a Call</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="ateam-hero d-flex justify-content-center align-items-center">
		<div>
			<h1 class="display-4 fw-bolder text-white mb-3">Join the <span class="text-secondary-lighter">A-Team</span>
			</h1>
			<p class="fs-3 text-center text-white">Make an <span
					  class="text-secondary-lighter fw-bold fst-italic">Impact</span>,
				Have Fun</p>
		</div>
	</div>
	<main>
		<section class="py-5">
			<div class="container">
				<h2 class="text-secondary text-center fw-bolder">
					<span class="text-primary fst-italic">IMAGINE...</span> spending time with other <span
						  class="text-primary fst-italic">A-Players</span>, the <span
						  class="text-primary fst-italic">Top-Talent</span> that
					also draws inspiration and
					creativity from their connection
					to other <span class="text-primary fst-italic">Top-Talent</span>.
				</h2>
				<p class="text-center fs-4">Making an <span class="text-secondary fw-bolder fst-italic">IMPACT</span>
					across a
					variety of projects, sharpening skills through
					experience while helping
					others move forward in their FPGA journey.</p>
				<div class="d-flex justify-content-center mt-5">
					<a href="#"
					   class="btn btn-primary btn-lg w-auto mt-3 mt-md-0">View Opportunities with Xlera
						Solutions</a>
				</div>
			</div>
		</section>
		<section class="pt-5 pb-10">
			<div class="row">
				<div class="col-12 col-lg-5 offset-lg-1 d-flex align-items-center mb-5 mb-lg-0">
					<p class="text-primary fs-3">Learn why it’s a special opportunity to be on the Xlera Solutions
						A-Team
					</p>
				</div>
				<div class="col-12 col-lg-4 mt-4 mt-md-0">
					<div class="ratio ratio-16x9">
						<iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
								title="YouTube video"
								allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-secondary-light"
				 id="mission">
			<div class="container py-5 py-md-10">
				<div class="row">
					<div class="col-12 col-lg-5 offset-lg-1 ">
						<div class="ratio ratio-16x9">
							<iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
									title="YouTube video"
									allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="d-flex align-items-center h-100 w-100 mb-5 mb-lg-0">
							<p class="text-primary fs-3">Learn More About Our Unique Hiring Process</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class=""
				 id="impact">
			<div class="container py-5 py-md-10">
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="d-flex flex-column h-100">
							<h2 class="text-secondary mb-4 fw-bolder">Make an Impact</h2>
							<p class="fs-6">Here at Xlera Solutions, LLC, we exist to be a guide to those that choose to
								be everyone’s favorite go-to, on-top-of-it,
								FPGA project leader delivering consistent victories.</p>
							<p class="fs-6">
								We exist for those that step up, go beyond, and strive to deliver the best possible
								experience for our clients EVERY DAY
								- always. We are here for those ANSWERING THE CALL to apply their Client Experience,
								Business Development, or FPGA
								skillsets to move others forward in their journey and to expand the reach of FPGAs.</p>
							<p class="fs-6">
								Opportunity knocks… we exist for YOU if you choose to answer.</p>
						</div>
						<a href="#"
						   class="btn btn-primary w-auto mt-3 mt-md-0">Answer The Call</a>
					</div>
					<div class="
										   col-12
										   col-lg-6"><img src="./images/answer-the-call.png"
							 class="img-fluid mx-auto shadow">
					</div>
				</div>
			</div>
		</section>
		<section class="bg-secondary-light mt-5"
				 id="beleive">
			<div class="container py-5">
				<div class="row">
					<div class="col-12 col-lg-5 offset-md-1">
						<p class="fs-4 mb-2 text-uppercase text-center text-lg-start">What We Believe </p>
						<h2 class="text-secondary fw-bolder text-center text-lg-start">At Xlera Solutions</h2>
						<ul class="list-unstyled believe-list mt-4">
							<li class="mb-4">
								<h4>We BELIEVE in IMPACT.</h4>
								<p class="fs-5">You DO make a difference. Make it positive.</p>
							</li>
							<li class="mb-4">
								<h4>We BELIEVE in ACTION.</h4>
								<p class="fs-5">It doesn’t just happen</p>
							</li>
							<li class="mb-4">
								<h4>We BELIEVE in GROWTH.</h4>
								<p class="fs-5">Better is always possible.</p>
							</li>
							<li class="mb-4">
								<h4>We BELIEVE in ACCOUNTABILITY.</h4>
								<p class="fs-5">Do what you said you would do when you said you would do it.</p>
							</li>
							<li class="mb-4">
								<h4>We BELIEVE in EXCELLENCE.</h4>
								<p class="fs-5">We have zero tolerance for mediocrity.</p>
							</li>
						</ul>

					</div>
					<div class="col-12 col-lg-5 offset-md-1"
						 id="dontbeleive">
						<p class="fs-4 mb-2 text-uppercase text-center text-lg-start">WHAT WE DON'T BELIEVE</p>
						<h2 class="text-secondary fw-bolder text-center text-lg-start">At Xlera Solutions</h2>
						<ul class="list-unstyled believe-list mt-4">
							<li class="mb-4">
								<h4 class="">We DON’T BELIEVE in EXCUSES.</h4>
								<p class="fs-5">Step up or step aside.</p>
							</li>
							<li class="mb-4">
								<h4>We DON’T BELIEVE in BLAMING.</h4>
								<p class="fs-5">Fix it or zip it.</p>
							</li>
							<li class="mb-4">
								<h4>We DON’T BELIEVE in WHINING.</h4>
								<p class="fs-5">If you want it, earn it.</p>
							</li>
							<li class="mb-4">
								<h4>We DON’T BELIEVE in GOOD.</h4>
								<p class="fs-5">You are here to be great.</p>
							</li>
							<li class="mb-4">
								<h4>We DON’T BELIEVE in MOTIVATION.</h4>
								<p class="fs-5">Do it whether you feel like it or not.</p>
							</li>
							<li class="mb-4">
								<h4>We DON’T BELIEVE in WISHING.</h4>
								<p class="fs-5">Unless you back it up with a crazy amount of doing.</p>
							</li>
							<li class="mb-4">
								<h4>We DON’T BELIEVE in DOING WHAT’S POPULAR.</h4>
								<p class="fs-5">Popular is the average. Average is mediocre. We abhor mediocrity.</p>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</section>
		<section class="bg-primary"
				 id="everyone">
			<div class="container py-5">
				<div class="row g-5">
					<div class="col-12">
						<h2 class="text-secondary-accent fs-1 text-center fw-bolder w-100 mb-5">We are NOT for everyone
						</h2>
					</div>
					<div class="col-12 col-md-6">
						<div class="border border-accent border-2 p-5 h-100">
							<h2
								class="text-secondary-accent fw-bolder text-uppercase pb-3 mb-3 border-bottom border-accent border-2">
								WE ARE NOT...</h2>
							<p class="text-white">for those lacking sufficient budget to support their project’s
								success. Launching a project without adequate funding and
								priority will fail. Cutting corners simply to avoid spending money is more frustrating
								and costly in the long run,
								leading to mediocre products and lost competitiveness.</p>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="border border-accent border-2 p-5 h-100">
							<h2
								class="text-secondary-accent fw-bolder text-uppercase pb-3 mb-3 border-bottom border-accent border-2">
								WE ARE...</h2>
							<p class="text-white">strivers. We are not happy with good enough. For us, good enough is
								NOT good enough. We have bold visions and we back
								them up with relentless drive and consistent action.
							</p>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="border border-accent border-2 p-5 h-100">
							<h2
								class="text-secondary-accent fw-bolder text-uppercase pb-3 mb-3 border-bottom border-accent border-2">
								HERE...</h2>
							<p class="text-white">we step forward. Are counted and accountable. To grow better every
								day.
							</p>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="border border-accent border-2 p-5 h-100">
							<h2
								class="text-secondary-accent fw-bolder text-uppercase pb-3 mb-3 border-bottom border-accent border-2">
								HERE...</h2>
							<p class="text-white">is where you will find the ones who see things, and most importantly,
								DO things, differently.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="">
			<div class="engines-hero d-flex justify-content-end">
				<div class="w-100 w-lg-55 mx-3 mx-lg-0 align-self-center">
					<h1 class="display-5 mb-3 text-center text-sm-start fw-bolder">Start Your Engines...<br>Prepare for
						Your <span class="text-secondary">Victory Lap</span> now!</h1>
					<p class="fs-4 lh-base mb-5"></span>
						Book a call to discuss what’s important to you and your unique FPGA needs</p>
					<div class="text-start">
						<a href="#"
						   class="btn btn-accent me-3"> Book a call</a> <a href="#"
						   class="btn btn-outline-primary mt-3 mt-md-0"> Learn why FPGA
							talent
							is hard to
							find
							(and keep)</a>
					</div>
				</div>
			</div>
		</section>
		<section class="footer bg-primary px-5 pt-5 pb-5">
			<div class="">
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<img src="images/Xlera-Logo-White@2x.png"
								 style="max-height:88px;">
							<br>
							<p class="text-primary-light fs-5 fw-bold mt-4">Headquartered in the United
								States.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col border-top border-white border-2 w-100 mt-3 mb-4"
							 style="height:3px;">
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-6 text-primary-light text-start mt-1">
							&copy; Xlera Solutions, LLC 2021, All Rights Reserved
						</div>
						<div class="col-12 col-md-6 text-end">
							<a href="privacy"
							   class="link-primary-light text-decoration-none">Privacy Policy</a> <a href="contact"
							   class="link-primary-light text-decoration-none ms-4">Contact Us</a>
						</div>
					</div>
				</div>
		</section>
	</main>
</body>
<script language="javascript"
		src="js/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({ scrollDuration: 200 });</script>

</html>