<div class="aboutus-hero d-flex justify-content-center align-items-center">
  <div>
    <h1 class="display-4 fw-bolder text-white mb-3 text-shadow">About Us</h1>
  </div>
</div>
<div id="subnav" class="subnav d-flex flex-column flex-lg-row justify-content-around align-items-center bg-secondary mb-5 text-shadow-sm">
  <a href="#mission" class="py-2 py-lg-4-5 fs-4 fs-lg-5 text-center text-white fw-bold">Our Mission</a>
  <a href="#impact" class="py-2 py-lg-4-5 fs-4 fs-lg-5 text-center text-white fw-bold">Make an Impact</a>
  <a href="#believe" class="py-2 py-lg-4-5 fs-4 fs-lg-5 text-center text-white fw-bold">What We Beleive</a>
  <a href="#dontbelieve" class="py-2 py-lg-4-5 fs-4 fs-lg-5 text-center text-white fw-bold">What We Don't Believe</a>
  <a href="#everyone" class="py-2 py-lg-4-5 fs-4 fs-lg-5 text-center text-white fw-bold">We Are Not For Everyone</a>
</div>
<main>
  <section class="py-5">
    <div class="container-sm quote">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div class="bg-quote p-3 p-sm-5">
            <div class="position-relative border border-2 border-primary p-4 p-md-0">
              <p class="fs-3 text-white text-center p-sm-3 p-lg-5 fw-bolder text-shadow-xs">Strive not to be a success, but rather to be of value.</p>
              <span class="position-absolute top-100 start-50 translate-middle bg-quote text-secondary text-shadow-xs px-2 fs-9 fs-lg-5  px-sm-3 px-lg-5 fw-bold text-uppercase" style="z-index:1">Albert Einstein</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 lh-md fs-6 px-5">
          <h1 class="text-secondary text-decoration-underline text-underline-below mb-4 text-shadow-sm">About
            Jesse</h1>
          <img class="d-block float-md-start d-md-inline-block img-fluid me-4 mb-4" src="images/jesse-beeson.png">
          <p class="mb-4">As founder of Xlera Solutions, LLC, I’m always looking to have fun with engineering, advancing the influence of the FPGA and of those that build fantastic products and solutions powered by FPGAs. Over the years I have worked with all major FPGA vendors and their device families, across industries including networking, embedded, IoT, telecom, data center, and video. I am deeply drawn to the variety of creative projects and products that advance technology, then witnessing that creation along the way. It is rewarding knowing you had a part in that creation and success. There is something incredibly satisfying and just plain fun about working with and supporting other highly skilled and capable people.</p>
          <p class="mb-4">For over 20 years I have been working in and around technology, with an interest in multiple disciplines. Although formally trained as an electrical engineer and high speed design, I have spent many years with software, firmware, FPGAs (of course!), digital signal processing, and mechanical engineering projects as well. Often having active projects in different disciplines at a time, which really helps to keep one sharp with completely different development and debug challenges. However, my love of technology and other “cool things” goes back even further &hellip;
            <a data-bs-toggle="collapse" class="text-secondary dropdown-toggle" href=" #collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Read More
            </a>
          </p>

          <div class="collapse" id="collapseExample">
            <p class="mb-4">
              As a kid, we would visit my uncle, who worked in chemistry and physics at Bell Labs. When I got old enough, I was able to spend a day with him at the Labs when visiting, where I could see his projects and those of his friends in other departments. I was fortunate to see some cool things, including fiber optics while still under development... Bend the fiber and the laser would shoot
              out, pretty neat (though I didn’t really know what I was looking at back then)! It was here, with a 3-ring binder with some handwritten notes from Kernighan & Ritchie, that I first learned the “C” programming language. Why was it called “C” you (may) ask? As the story goes, the “B” language wasn’t very good, the next iteration was “C” … that one seems to have done pretty well!</p>
            <p class="mb-4">While attending grad school in the 90s I started a consulting practice... well, more accurately, I fell into it. A company I had been working for during my senior year of undergrad, designing hazardous dust particle monitoring equipment (a project I’m still involved with today), asked if I would be willing to continue some work on the weekends when I went off to grad school. Little did I know I would run that consulting practice for more than 5 years.</p>
            <p class="mb-4">This experience lead to co-founding my first real startup, as CTO. We started a networking company in October of 2001… great timing right? Well, in hind-sight it actually turned out to be good timing for a variety of reasons, specifically that there was a lot of top talent suddenly available. Available, that is, if you could survive. We designed and manufactured IP video network monitoring equipment leveraging FPGAs, at the very beginning of what is now called Video Streaming or simply Streaming (we engineers creatively called it Network Video in the early days). We built a great team and survive we did! We began with 6 people and grew to a peak of over 180 people across several countries. That company still operates today, as a subsidiary of its acquirer.</p>
            <p class="mb-4">Ultimately I enjoy everything from the theory driving a project and its approach, all the way down to seeing it sitting on the bench with a blinking light! I am fascinated by building teams around ideas and a common purpose to bring those ideas to market. A balance of theory, practice, and execution.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-secondary-light py-10" id="mission">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6"><img src="./images/why-fpga-talent-is-hard-to-find.png" class="img-fluid mx-auto shadow">
        </div>
        <div class="col-12 col-lg-6">
          <div class="d-flex flex-column justify-content-between h-100">
            <h2 class="text-secondary mb-4 mt-4 mt-md-0 fw-bolder text-shadow-sm">Our Mission</h2>
            <p class="fs-6">Xlera Solutions is on a mission to help you become everyone's favorite go-to, on-top-of-it, FPGA project leader that delivers victories ... over and over again! Helping those that rely on FPGAs to defeat the enemy of time and opportunity destroying overhead. To end the frustration of choosing between the high overhead to maintain availability and the missed opportunities from the inability to meet project requirements or growth. To win today’s war for talent access.</p>
            <p class="fs-6">We deliver on our mission through our Victory Coordinators and hassle-free on-demand access to the needed scarce top FPGA talent. Ensuring you get what you need, when you need it, and how you need it.</p>
            <p class="fs-6">Expanding the application of FPGAs, overall available FPGA talent, and the pace of FPGA technology advancement.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-10" id="impact">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class=" h-100">
            <h2 class="text-secondary mb-4 fw-bolder text-shadow-sm">Make an Impact</h2>
            <p class="fs-6">Here at Xlera Solutions, LLC, we exist to be a guide to those that choose to be everyone’s favorite go-to, on-top-of-it, FPGA project leader delivering consistent victories.</p>
            <p class="fs-6">
              We exist for those that step up, go beyond, and strive to deliver the best possible experience for our clients EVERY DAY - always. We are here for those ANSWERING THE CALL to apply their Client Experience, Business Development, or FPGA skillsets to move others forward in their journey and to expand the reach of FPGAs.</p>
            <p class="fs-6">
              Opportunity knocks… we exist for YOU if you choose to answer.</p>
            <a href="/a-team" class="btn btn-primary mt-5">Answer The Call</a>
          </div>
        </div>
        <div class="col-12 col-lg-6"><img src="./images/answer-the-call.png" class="img-fluid mx-auto shadow">
        </div>
      </div>
    </div>
  </section>
  <section class="bg-secondary-light py-10">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 offset-md-1">
          <p id="believe" class="fs-4 mb-2 text-uppercase text-center text-lg-start">What We Believe </p>
          <h2 class="text-secondary fw-bolder text-center text-lg-start text-shadow-sm">At Xlera Solutions
          </h2>
          <ul class="list-unstyled believe-list mt-4">
            <li class="mb-4">
              <h4 class="text-shadow-xs">We BELIEVE in IMPACT.</h4>
              <p class="fs-5">You DO make a difference. Make it positive.</p>

            </li>
            <li class="mb-4">
              <h4 class="text-shadow-xs">We BELIEVE in ACTION.</h4>
              <p class="fs-5">It doesn’t just happen</p>
            </li>
            <li class="mb-4">
              <h4 class="text-shadow-xs">We BELIEVE in GROWTH.</h4>
              <p class="fs-5">Better is always possible.</p>
            </li>
            <li class="mb-4">
              <h4 class="text-shadow-xs">We BELIEVE in ACCOUNTABILITY.</h4>
              <p class="fs-5">Do what you said you would do when you said you would do it.</p>
            </li>
            <li class="mb-4">
              <h4 class="text-shadow-xs">We BELIEVE in EXCELLENCE.</h4>
              <p class="fs-5">We have zero tolerance for mediocrity.</p>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-5 offset-md-1">
          <div class="pb-5 mt-4 border-top d-block d-md-none"></div>
          <p id="dontbelieve" class="fs-4 mb-2 text-uppercase text-center text-lg-start">WHAT WE DON'T BELIEVE</p>
          <h2 class="text-secondary fw-bolder text-center text-lg-start text-shadow-sm">At Xlera Solutions
          </h2>
          <ul class="list-unstyled believe-list mt-4">
            <li class="mb-4">
              <h4 class="text-shadow-xs">We DON’T BELIEVE in EXCUSES.</h4>
              <p class="fs-5">Step up or step aside.</p>
            </li>
            <li class="mb-4">
              <h4 class="text-shadow-xs">We DON’T BELIEVE in BLAMING.</h4>
              <p class="fs-5">Fix it or zip it.</p>
            </li>
            <li class="mb-4">
              <h4 class="text-shadow-xs">We DON’T BELIEVE in WHINING.</h4>
              <p class="fs-5">If you want it, earn it.</p>
            </li>
            <li class="mb-4">
              <h4 class="text-shadow-xs">We DON’T BELIEVE in GOOD.</h4>
              <p class="fs-5">You are here to be great.</p>
            </li>
            <li class="mb-4">
              <h4 class="text-shadow-xs">We DON’T BELIEVE in MOTIVATION.</h4>
              <p class="fs-5">Do it whether you feel like it or not.</p>
            </li>
            <li class="mb-4">
              <h4 class="text-shadow-xs">We DON’T BELIEVE in WISHING.</h4>
              <p class="fs-5">Unless you back it up with a crazy amount of doing.</p>
            </li>
            <li class="mb-4">
              <h4 class="text-shadow-xs">We DON’T BELIEVE in DOING WHAT’S POPULAR.</h4>
              <p class="fs-5">Popular is the average. Average is mediocre. We abhor mediocrity.</p>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary py-10" id="everyone">
    <div class="container">
      <div class="row g-5">
        <div class="col-12">
          <h2 class="text-secondary-accent fs-1 text-center fw-bolder w-100 mb-5 text-shadow-sm">We are NOT
            for everyone
          </h2>
        </div>
        <div class="col-12 col-md-6">
          <div class="border border-secondary-accent border-2 p-5 h-100">
            <h2 class="text-secondary-accent fw-bolder text-uppercase pb-3 mb-3 border-bottom border-secondary-accent border-2 text-shadow-sm">
              WE ARE NOT...</h2>
            <p class="text-white">For those lacking sufficient budget to support their project’s
              success. Launching a project without adequate funding and
              priority will fail. Cutting corners simply to avoid spending money is more frustrating
              and costly in the long run,
              leading to mediocre products and lost competitiveness.</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="border border-secondary-accent border-2 p-5 h-100">
            <h2 class="text-secondary-accent fw-bolder text-uppercase pb-3 mb-3 border-bottom border-secondary-accent border-2 text-shadow-sm">
              WE ARE...</h2>
            <p class="text-white">Strivers. We are not happy with good enough. For us, good enough is
              NOT good enough. We have bold visions and we back
              them up with relentless drive and consistent action.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="border border-secondary-accent border-2 p-5 h-100">
            <h2 class="text-secondary-accent fw-bolder text-uppercase pb-3 mb-3 border-bottom border-secondary-accent border-2 text-shadow-sm">
              HERE...</h2>
            <p class="text-white">We step forward. Are counted and accountable. To grow better every
              day.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="border border-secondary-accent border-2 p-5 h-100">
            <h2 class="text-secondary-accent fw-bolder text-uppercase pb-3 mb-3 border-bottom border-secondary-accent border-2 text-shadow-sm">
              HERE...</h2>
            <p class="text-white">Is where you will find the ones who see things, and most importantly,
              DO things, differently.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="">
    <div class="engines-hero d-flex justify-content-end">
      <div class="w-100 w-lg-55 mx-3 mx-lg-0 align-self-center">
        <h1 class="display-5 mb-3 text-primary-to-white text-center text-sm-start fw-bolder text-shadow-sm">
          Start Your
          Engines...<br>Prepare for
          Your <span class="text-secondary">Victory Lap</span> now!</h1>
        <p class="fs-4 text-primary-to-white lh-base mb-5 text-shadow-xs">
          Book a call to discuss what’s important to you and your unique FPGA needs</p>
        <div class="text-start">
          <a href="/book-a-call" class="btn btn-accent me-3 text-shadow-xs shadow-sm"> Book a call</a>
          <a href="/#FPGAtalent" class="btn btn-outline-primary mt-3 mt-md-0"> Learn why FPGA talent is hard to find (and
            keep)</a>
        </div>
      </div>
    </div>
  </section>