<div class="ateam-hero d-flex justify-content-center align-items-center">
  <div class="text-shadow">
    <h1 class="display-4 fw-bolder text-white mb-3">HELLO AND <span class="text-secondary-lighter">WELCOME!</span>
    </h1>
  </div>
</div>
<main>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <p class="">We appreciate your interest in making an IMPACT with us! This is a special opportunity that requires a special process. The process itself is designed to weed out those less than passionate about wanting to join our mission.
          </p>
          <p class="">We are looking for character, culture fit, and skills (of course, with competence being the "ante"). One key to success with the A-Team is having an obsessive commitment to excellence and being able to follow through, so we look for those traits too!</p>
          <p class="">If you are simply spamming your resume into the ether with the hope that something sticks, this process is not for you. Otherwise, we think you will find the process fun, productive and fitting.</p>
          <p class="">We are a primarily remote team (we’ve got this down!), we don’t just look for the best available where we are but meet the best where they are. We have contract, temp-to-hire, employee, and freelance roles available for the right person who chooses to answer the call to adventure with us.
          </p>
          <p class="">Let’s begin by having you answer a few questions on the next page...
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center"> <a href="/step-1" class="btn btn-lg btn-secondary mt-3 mt-lg-5"> Continue</a></div>
      </div>

    </div>
  </section>