<div class="ateam-hero d-flex justify-content-center align-items-center">
  <div class="text-shadow-sm">
    <h1 class="display-4 fw-bolder text-white mb-3 text-center">A Clearer Path to <span class="text-secondary-lighter">FPGA Victory</span><br class="d-none d-md-block">
      is One Strategy Call Away <br><span class="fst-italic display-6">(We’ll even pay for it!)</span>
    </h1>
    <div class="text-center mt-lg-5"><a href="https://calendly.com/xlera/strategy-call" target="_blank" class="btn-lg btn-secondary">Schedule Now</a></div>
  </div>
</div>
<main>
  <section class="py-5">
    <div class="container">
      <h2 class="text-center fw-bolder text-shadow-xs">
        Get clarity around <span class="text-secondary">on-demand </span> access to <span class="text-secondary">top FPGA talent</span>,at the <br class="d-none d-lg-block">resource levels you demand and the availability you need.
      </h2>
    </div>
  </section>
  <section class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1">
          <h4 class="mb-4">
            We’re offering this personalized strategy call to FPGA leaders like you. During this 30 minute call you’ll get:
          </h4>
          <ul>
            <li><span class="text-secondary fw-bold">CLARITY</span> around your biggest FPGA project obstacles and how on-demand access to top FPGA talent can help you overcome them.</li>
            <li><span class="text-secondary fw-bold">AN UNDERSTANDING</span> of whether or not we are the right fit for each other.</li>
            <li><span class="text-secondary fw-bold">A ROAD MAP</span> to becoming everyone’s favorite go-to, on-top-of-it, FPGA project leader delivering consistent victories, both a plan and a path.</li>
          </ul>
          <div class="text-center mt-lg-5"><a href="https://calendly.com/xlera/strategy-call" target="_blank" class="btn-lg btn-secondary">Schedule Now</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="mb-4">
            Is this Introductory Call right for me?
          </h4>
          <p>If you’re a successful FPGA leader within an established business and are looking to lead your FPGA projects to victory and defeat the enemy of opportunity destroying overhead with less complexity and uncertainty, this call was designed just for you.</p>
          <p>Don’t miss the opportunity to become everyone's favorite go-to, on-top-of-it, FPGA project leader that delivers <span class="text-secondary fw-bold">victories</span> ... <span class="text-secondary fw-bold">over and over again!</span> </p>
          <div class="text-center mt-lg-5"><a href="https://calendly.com/xlera/strategy-call" target="_blank" class="btn-lg btn-secondary">Schedule Now</a></div>
        </div>
      </div>
    </div>
  </section>