<div class="contact-us-hero d-flex justify-content-center align-items-center">
  <h1 class="display-4 fw-bolder m-0 text-white text-shadow">Contact Us</h1>
</div>
<main>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7 order-2 order-md-1">
          <p class="fs-3 fw-bolder text-shadow-xs">Prefer we reach out to you?</p>
          <p>Please use the form below to contact us. We do our best to respond within two business days, but it may take longer based on the volume of correspondence we recieve.</p>
          <hr class="bg-secondary">
          <form class="needs-validation" action="/contact-us" method="post" novalidate id="contactForm" v-on:submit.prevent="submit()" ref="form">
            <input type="hidden" name="page" id="page" value="Contact Us Page">
            <form-alerts :status="formStatus" :scroll="true"></form-alerts>
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="firstName" name="firstName" v-model.trim="$v.form.firstName.$model" :class="{ 'is-invalid': $v.form.firstName.$error }">
                <div class="invalid-feedback fst-italic">
                  Please enter your first name.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" v-model.trim="$v.form.lastName.$model" :class="{ 'is-invalid': $v.form.lastName.$error }">
              <div class="invalid-feedback fst-italic">
                Please enter your Last Name.
              </div>
            </div>
            <div class="mb-3">
              <label for="companyName" class="form-label">Company Name</label>
              <input type="text" class="form-control" id="companyName" name="companyName" v-model.trim="$v.form.companyName.$model" :class="{ 'is-invalid': $v.form.companyName.$error }">
              <div class="invalid-feedback fst-italic">
                Please enter your Company Name.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Company Email</label>
              <input type="text" class="form-control" name="email" id="email" v-model.trim="$v.form.email.$model" :class="{ 'is-invalid': $v.form.email.$error }">
              <div class="invalid-feedback fst-italic">
                Please enter a valid email address.
              </div>
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone" v-model.trim="$v.form.phone.$model" v-mask="'(###) ###-####'" :class="{ 'is-invalid': $v.form.phone.$error }">
              <div class="invalid-feedback fst-italic">
                Please provide a phone number for us to contact you Or uncheck the box below.
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="yes" name="preferPhone" id="preferPhone" v-model.trim="$v.form.preferPhone.$model">
                <label class="form-check-label" for="preferPhone">
                  I would prefer to be contacted via phone.
                </label>
              </div>
            </div>
            <div class="mb-3">
              <label for="whatsOnYourMind" class="form-label">What’s on your mind?</label>
              <textarea class="form-control" id="whatsOnYourMind" name="whatsOnYourMind" rows="3" maxLength="180" v-model="form.whatsOnYourMind"></textarea>
            </div>
            <div class="col-12 mt-4">
              <button class="btn btn-primary" type="submit" onClick>Submit form</button>
            </div>
          </form>
          <p class="mt-4 fst-italic">We promise to play nice with your email address and not waste your time, for details on our methods see our <a href="/privacy" class="link-secondary">Privacy Policy</a>.<br>In short, your stuff is safe with us!</p>
        </div>
        <div class="col-12 col-md-5 order-1 order-md-2">
          <h4 class="text-secondary text-shadow-sm">Xlera Solutions, LLC Headquarters</h4>
          <ul class="list-unstyled">
            <li>
              <strong>Address:</strong><br>
              <p>123 Anystreet<br>
                Alpharetta, Georgia 30009<br>
                USA</p>
            </li>
            <li>
              <strong>Phone:</strong> <a href="tel:1235554567">123-555-4567</a>
            </li>
          </ul>
          <hr class="d-block d-sm-none bg-secondary">
        </div>
      </div>
    </div>
  </section>