To connect an existing form on your website to Drip, you’ll need to update a few attributes on your form:
Add the data-drip-embedded-form="480805219" attribute to your <form> tag.
  Set the form action attribute to https://www.getdrip.com/forms/480805219/submissions.
  Set the form method attribute to post.
  Set the name of the email input to fields[email].
  Add data-drip-attribute="headline" to your headline tag.
  Add data-drip-attribute="description" to your description tag.


  git push heroku main

  <style>
    #drip-ef-480805219 {
      font: .875rem/1.5rem sans-serif;
      width: 100%;
    }

    #drip-ef-480805219 h3 {
      font-size: 1.125rem;
      margin: 0 0 .375rem;
    }

    #drip-ef-480805219>div {
      margin-bottom: .75rem;
    }

    #drip-ef-480805219 fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }

    #drip-ef-480805219 legend {
      margin: 0;
      padding: 0;
    }

    #drip-ef-480805219 input[type="email"],
    #drip-ef-480805219 input[type="number"],
    #drip-ef-480805219 input[type="tel"],
    #drip-ef-480805219 input[type="text"] {
      margin: 0;
      padding: .375rem .5625rem;
      width: 100%;
    }

    #drip-ef-480805219 input[type="checkbox"],
    #drip-ef-480805219 input[type="radio"] {
      margin: .1875rem .1875rem 0 0;
      padding: 0;
    }

    #drip-ef-480805219 input[type="submit"] {
      margin: 0;
      padding: .375rem .5625rem;
    }
  </style>

  <form action="https://www.getdrip.com/forms/480805219/submissions" method="post" data-drip-embedded-form="480805219" id="drip-ef-480805219">
    <div data-drip-attribute="description"><strong style="font-size:24px;">Get started now!</strong></div>


    <div>
      <label for="drip-first-name">First Name</label><br>
      <input type="text" id="drip-first-name" name="fields[first_name]" value="">
    </div>

    <div>
      <label for="drip-last-name">Last Name</label><br>
      <input type="text" id="drip-last-name" name="fields[last_name]" value="">
    </div>

    <div>
      <label for="drip-email">Email Address</label><br>
      <input type="email" id="drip-email" name="fields[email]" value="">
    </div>

    <div>
      <label for="drip-phone">Phone</label><br>
      <input type="text" id="drip-phone" name="fields[phone]" value="">
    </div>

    <div>
      <fieldset>
        <legend>Preferred Contact Method</legend>
        <input type="radio" id="21325" name="fields[preferred_contact_method]" value="Email">
        <label for="21325">Email</label><br>
        <input type="radio" id="21326" name="fields[preferred_contact_method]" value="Phone">
        <label for="21326">Phone</label><br>
      </fieldset>
    </div>

    <div>
      <label for="drip-tell-us-a-little-about-your-interest-and-why-you-would-be-awesome-at-this">Tell us a little about your interest and why you would be AWESOME at this</label><br>
      <input type="text" id="drip-tell-us-a-little-about-your-interest-and-why-you-would-be-awesome-at-this" name="fields[tell_us_a_little_about_your_interest_and_why_you_would_be_awesome_at_this]" value="">
    </div>


    <div style="display: none;" aria-hidden="true">
      <label for="website">Website</label><br>
      <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
    </div>

    <div>
      <input type="submit" value="Submit" data-drip-attribute="sign-up-button">
    </div>
  </form>