<!doctype html>
<html lang="en">
<!-- Sophia Pro , poppins-->

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1">
	<meta name="description"
		  content="">
	<title>Xlera Solutions DEV</title>

	<!-- Bootstrap core CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
		  crossorigin="anonymous">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
			crossorigin="anonymous"></script>
	<link rel="preconnect"
		  href="https://fonts.googleapis.com">
	<link rel="preconnect"
		  href="https://fonts.gstatic.com"
		  crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet"
		  href="./stylesheets/site.css">
	<style>
		body {
			min-height: 75rem;
			padding-top: 4.5rem;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-md fixed-top bg-white shadow-sm">
		<div class="container-fluid">
			<a class="navbar-brand"
			   href="#">
				<img src="./images/Xlera-Logo@2x.png"
					 class="img-fluid ps-3"
					 alt="logo"
					 style="max-height:45px;">
			</a>
			<button class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse"
					aria-expanded="false"
					aria-label="Toggle navigation">
				<svg xmlns="http://www.w3.org/2000/svg"
					 width="32"
					 height="32"
					 fill="currentColor"
					 class="bi bi-list"
					 viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
				</svg>
			</button>
			<div class="collapse navbar-collapse"
				 id="navbarCollapse">
				<ul class="navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item px-md-3">
						<a class="nav-link active fs-5"
						   aria-current="page"
						   href="#">About</a>
					</li>
					<li class="nav-item px-md-3">
						<a class="nav-link fs-5"
						   href="#">Join A-Team</a>
					</li>
					<li class="nav-item ps-md-5">
						<a href="#"
						   class="btn btn-accent px-4">Book a Call</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="homepage-hero">
		<div class="col-12 col-md-6 pe-5 ps-5 py-5 ps-md-0 ms-auto">
			<h1 class="display-6 fw-bold text-white">Top Talent FPGA Design Team</h1>
			<p class="fs-5 text-white">If you're concerned about your FPGA project being a smashing success and worried
				about
				accessing
				top talent FPGA resources only when you need them and at the resource levels you need them o, we
				can help you hit a grand slam!</p>
			<h4 class="lead text-white"
				style="font-weight:500;">We help you become everyone's favorite go-to, on-top-of-it, FPGA project leader
				that
				delivers
				victories ... over and over again!</h4>
		</div>
	</div>
	<main>
		<section class="light-secondary-bg p-5">
			<div class="container">
				<h2 class="text-secondary text-center"
					style="font-weight:600;">
					We believe that companies relying on FPGAs ought to have access to the scarce top FPGA talent,
					on-demand, to thrive in today's war for talent. Where the battleground has become talent access.
				</h2>
				<div class="row mt-5">
					<div class="col-12 col-lg-6 text-primary fs-4 mb-5 mb-lg-0">
						Do you have a lot of projects? Our VIP Program further offers guaranteed priority access across
						any project at any time. As a VIP you can reallocate FPGA talent across projects with ease and
						we handle sourcing additional talent as demands change, giving you a truly integrated virtual
						team experience that fits your business today and tomorrow.
					</div>
					<div class="col-12 col-lg-6 mt-4 mt-md-0">
						<div class="ratio ratio-16x9">
							<iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
									title="YouTube video"
									allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="callout">
					<h1 class="text-primary text-center m-5">Book a call to discuss what's important to
						you<br>and your
						unique
						FPGA needs</h1>
					<div class="text-center">
						<a href="#"
						   class="btn btn-accent me-3 px-4 rounded-4"> Book a call</a> <a href="#"
						   class="btn btn-outline-primary px-4 rounded-4 mt-3 mt-md-0"> Learn why FPGA talent is hard to
							(find &amp;
							keep)</a>
					</div>
				</div>
			</div>
		</section>
		<section class="light-primary-bg p-5">
			<div class="container quote">
				<div class="position-relative border border-2 border-primary">
					<h1 class="text-primary text-center p-5 fw-bold">The secret of getting ahead is getting started</h1>
					<span class="position-absolute top-100 start-50 translate-middle light-primary-bg text-secondary px-5 fs-3 fw-bold text-uppercase"
						  style="z-index:1">Mark Twain</span>
				</div>
			</div>
		</section>
		<section class="bg-white">
			<div class="container">
				<div class="row g-4 m-5">
					<div class="col-12 col-lg-4">
						<div class="card h-100 border-primary rounded-0 text-primary mb-3">
							<div class="card-header border-0 bg-white">
								<h2 class="mb-0">01</h2>
								<small class="text-secondary fw-bold fs-5">WE HELP</small>
							</div>
							<div class="card-body bg-white ">
								<p class="card-text"
								   style="text-align: justify;">busy FPGA project leaders escape the overhead hassles of
									finding
									and maintaining top FPGA talent with a tailored plan and providing on-demand top
									talent access so they can lead their FPGA projects to victory and create an
									opportunity abundance for themselves and for their company.</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card h-100 border-primary rounded-0 text-primary mb-3">
							<div class="card-header border-0 bg-white">
								<h2 class="mb-0">02</h2>
								<small class="text-secondary fw-bold fs-5">WE BELIEVE</small>
							</div>
							<div class="card-body bg-white ">
								<p class="card-text"
								   style="text-align: justify;">that companies relying in FPGAs ought to have access to
									the scarce top FPGA talent, on-demand, to thrive in today's war for talent. Where
									talent access has become the key battleground. We beleive that this access
									experience should be hassle-free, with a Victory Coordinator as a single point
									contact to optimize your time. Like you, we are devoted to the powerful capabilities
									of FPGAs and see FPGA opportunity and influence growing rapidly.</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card h-100 border-primary rounded-0 text-primary mb-3">
							<div class="card-header border-0 bg-white">
								<h2 class="mb-0">03</h2>
								<small class="text-secondary fw-bold fs-5">WE UNDERSTAND</small>
							</div>
							<div class="card-body bg-white ">
								<p class="card-text"
								   style="text-align: justify;">how it feels to need top FPGA talent but not have access
									to the right talent when needed. Only to spend months adjusting resource levels,
									searching for and hiring the talent you need, while your project sits on pause an
									deadlines are bearing down. Members of our team have built, operated, and have been
									part of the virtual engineering teams across multiple companies. We have run FPGA
									projects of all sizes, generating over $100M in revenues with some projects,
									including our own!
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-white mb-5">
			<div class="container">
				<h1 class="text-primary text-center m-5 fw-bold">Here's how we do it:</h1>
				<div class="row">
					<div class="col-12 col-lg-5 offset-lg-1">
						<div class="d-flex flex-row">
							<svg xmlns="http://www.w3.org/2000/svg"
								 width="75"
								 height="75"
								 fill="currentColor"
								 class="bi bi-shield-check text-secondary inline-block me-3"
								 viewBox="0 0 16 16">
								<path
									  d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
								<path
									  d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
							</svg>
							<span class="inline-block fs-3 text-secondary fw-bolder">The Xlera<br>No-Worries Guarantee
							</span>
						</div>
						<div class="col-12 mt-sm-3">
							<p>Let us take on the risk of getting started with your FPGA victories. We
								promise you will be 100% satisfied or we will pay any portion of your
								invoice that you choose... including the full amount! Shoudl we part
								thereafter, we will part as friends. Do your current FPGA resources offer
								that? If not ... ask why not.</p>
						</div>
					</div>
					<div class="col-12 col-lg-5">
						<div class="mt-4 mt-sm-4 mt-md-0">
							<div class="d-flex flex-row">
								<svg xmlns="http://www.w3.org/2000/svg"
									 width="75"
									 height="75"
									 fill="currentColor"
									 class="bi bi-list-check text-secondary inline-block me-3"
									 viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										  d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
								</svg>
								<span class="fs-3 text-secondary fw-bolder">The FPGA Victory Plan
								</span>
							</div>
						</div>
						<div class="col-12 mt-sm-3">
							<ul class="list-unstyled">
								<li class="mb-3">1) Book an introductory call to discuss what's important to you and
									understand your
									unique FPGA project needs (we will even pay for it!)</li>
								<li class="mb-3">2) Allow us to create a plan tailored to support your victory</li>
								<li>3) Let's execute that plan together</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="callout">
					<h1 class="text-primary text-center fw-bold m-5">Book a call to discuss what's important to
						you<br>and your
						unique
						FPGA needs</h1>
					<div class="text-center">
						<a href="#"
						   class="btn btn-accent me-3 px-4 rounded-4"> Book a call</a> <a href="#"
						   class="btn btn-outline-primary px-4 rounded-4 mt-3 mt-md-0"> Learn why FPGA talent is hard to
							(find &amp;
							keep)</a>
					</div>
				</div>
			</div>
		</section>
		<section class="light-secondary-bg p-5">
			<div class="container">
				<div class="row">
					<div class="col-6"><img src="./images/race-car.png"
							 class="img-fluid mx-auto shadow"></div>
					<div class="col-6">
						<h2 class="text-secondary mb-3">Victory!</h2>
						<p>Create an opportunity Abundance for you and your company by increasing your capacity without
							increasing your overhead and hassle. The alternative? It's lost competitiveness. You don't
							want that, and we don't want that for you. Instead, become that highly sought after company
							and leader, able to pick and choose your best opportunities and revenues. Grow your circle
							of influence, expand your company and your growth.</p>
						<p>Become everyone's favorite go-to, on-top-of-it, FPGA project leader that delivers</p>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-6">
						<h2 class="text-secondary mb-3">Why FPGA talent is hard to find and keep ... And what
							you can do
							about it in 3 simple steps!</h2>
						<p>Do you love the awesome power and capability of FPGA's but hate the frustration of finding
							and keeping top FPGA talent? We're with you! We understand how it feels to need top FPGA
							talent but not have access to the right talent when needed. For over 20 years members of our
							team have built, operated, and been part of FPGA teams on projects of all sizes,
							experiencing those same feelings! This is what we have found...</p>
					</div>
					<div class="col-6"><img src="./images/circuit-board.png"
							 class="img-fluid mx-auto shadow"></div>
				</div>
				<div class="row mt-5">
					<div class="col-12 text-center">
						<a href="#"
						   class="btn btn-accent me-3 px-4 rounded-4"> Watch Video</a> <a href="#"
						   class="btn btn-outline-primary px-4 rounded-4 mt-3 mt-md-0"> Download Report Now</a>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-white mb-5">
			<div class="container text-center">
				<h1 class="text-secondary m-5 display-4 fw-bold">Every FPGA Hero Needs a Guide</h1>
				<p class="fs-5">Xlera Solutions, LLC, exists to be a guide to those that choose to be everyone's
					favorite
					go-to, on-top-of-it, FPGA project leader that delivers consistant victories. Helping those
					companies that rely on FPGA's to defeat the enemy of time and opportunity destroying
					overhead.</p>
				<a href="#"
				   class="btn btn-accent me-3 px-4 rounded-4"> Learn More</a>
			</div>
		</section>
		<section class="footer bg-primary p-5">
			<div class="mb-5">
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<img src="images/Xlera-Logo-White@2x.png"
								 style="max-height:125px;">
							<br>
							<p class="text-secondary-lighter display-font-2 fw-bolder mt-4">Headquartered in the United
								States.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col border-top border-white border-2 w-100 my-3"
							 style="height:3px;">
						</div>
					</div>
					<div class="row">
						<div class="col text-primary-light text-start">
							&copy; Xlera Solutions, LLC 2021, All Rights Reserved
						</div>
						<div class="col text-end">
							<a href="#"
							   class="text-white text-decoration-none">Privacy Policy</a> <a href="#"
							   class="text-white text-decoration-none ms-4">Contact Us</a>
						</div>
					</div>
				</div>
		</section>
	</main>
</body>

</html>