<div class="homepage-hero d-flex justify-content-end">
  <div class="w-100 w-lg-55 pe-lg-4 mx-3 mx-lg-0 align-self-center text-shadow">
    <h1 class="display-5 fw-bolder text-white mb-3">Top Talent FPGA Design<br> Team <span class="fst-italic text-primary fw-bolder text-shadow-none">On-Demand</span></h1>
    <p class="fs-4 text-white">Xlera Solutions is the <span class="text-primary fw-bolder text-shadow-none">scalable
        both up &amp; down,</span> on-demand, top talent FPGA team without all the hassle and overhead.</p>
    <p class="fs-4 text-white">If you're concerned about your FPGA project being a smashing success and worried about accessing top talent FPGA resources only when you need them and at the resource levels you need them, we can help you hit a grand slam!</p>
  </div>
</div>
<main>
  <section class="pt-5 pb-5">
    <div class="container">
      <h2 class="text-secondary text-center fw-bolder">
        We help you become everyone's favorite go-to, on-top-of-it, FPGA project leader that delivers victories ... over and over again!
      </h2>
      <div class="row mt-5">
        <div class="col-12 col-lg-5 offset-lg-1 d-flex align-items-center text-primary fs-4 mb-5 mb-lg-0">
          We believe that companies relying on FPGAs ought to have access to the scarce top FPGA talent, on-demand, to thrive in today's war for talent. Where the battleground has become talent access.
        </div>
        <div class="col-12 col-lg-4 mt-4 mt-md-0">
          <div class="ratio ratio-16x9">
            <video poster="/video/placeholder-video-poster.png" disablepictureinpicture="true" playsinline="true" controls>
              <source src="/video/placeholder-video.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
      <div class="callout">
        <h2 class="text-primary text-center fw-bolder m-5">Book a strategy call to discuss what's important to you<br> and your unique FPGA needs</h2>
        <div class="text-center">
          <a href="/book-a-call" class="btn btn-accent me-3"> Book a call</a> <a href="#FPGAtalent" class="btn btn-primary mt-3 mt-md-0"> Learn why FPGA talent is hard to (find &amp; keep)</a>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container-sm quote">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div class="bg-quote p-3 p-sm-5">
            <div class="position-relative border border-2 border-primary p-4 p-md-0">
              <p class="fs-3 text-white text-center p-sm-3 p-lg-5 fw-bolder text-shadow-xs">The secret of getting ahead is getting started.</p>
              <span class="position-absolute top-100 start-50 translate-middle bg-quote text-secondary text-shadow-xs px-2 fs-9 fs-lg-5  px-sm-3 px-lg-5 fw-bold text-uppercase" style="z-index:1">Mark Twain</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white py-5">
    <div class="container-fluid">
      <div class="row g-4 g-lg-2 g-xl-4 mx-lg-5">
        <div class="col-12 col-lg-4">
          <div class="border border-primary p-3 h-100">
            <h4 class="text-uppercase text-secondary fw-bolder mt-4">WE UNDERSTAND</h4>
            <p class="text-primary lh-lg-base" style="text-align: justify;">how it feels to need top FPGA talent but not have access to the right talent when needed. Only to spend months adjusting resource levels, searching for and hiring the talent you need, while your project sits on pause an deadlines are bearing down. Members of our team have built, operated, and have been part of the virtual engineering teams across multiple companies. We have run FPGA projects of all sizes, generating over $100M in revenues with some projects, including our own!
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="border border-primary p-3 h-100">
            <h4 class="text-uppercase text-secondary fw-bolder mt-4">WE HELP</h4>
            <p class="text-primary lh-lg-base" style="text-align: justify;">busy FPGA project leaders escape the overhead hassles of finding and maintaining top FPGA talent with a tailored plan and providing on-demand top talent access so they can lead their FPGA projects to victory and create an opportunity abundance for themselves and for their company.</p>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="border border-primary p-3 h-100">
            <h4 class="text-uppercase text-secondary fw-bolder mt-4">WE BELIEVE</h4>
            <p class="text-primary lh-lg-base" style="text-align: justify;">that companies relying in FPGAs ought to have access to the scarce top FPGA talent, on-demand, to thrive in today's war for talent. Where talent access has become the key battleground. We believe that this access experience should be hassle-free, with a Victory Coordinator as a single point contact to optimize your time. Like you, we are devoted to the powerful capabilities of FPGAs and see FPGA opportunity and influence growing rapidly.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white py-5">
    <div class="container">
      <h1 class="text-primary text-center mb-5 fw-bolder">Here's how we do it:</h1>
      <div class="row">
        <div class="col-12 col-lg-5 offset-lg-1 mb-4 mb-lg-0">
          <div class="d-flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-shield-check text-primary inline-block me-3" viewBox="0 0 16 16">
              <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
              <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            </svg>
            <span class="inline-block fs-3 text-secondary fw-bolder">The Xlera<br><span class="fst-italic text-primary">No-Worries</span> Guarantee
            </span>
          </div>
          <div class="col-12 mt-sm-3">
            <p class="fs-5 lh-lg-lg">Let us take on the risk of getting started with your FPGA victories. We promise you will be 100% satisfied or we will pay any portion of your invoice that you choose... including the full amount! Should we part thereafter, we will part as friends. Do your current FPGA resources offer that? If not ... ask why not.</p>
          </div>
        </div>
        <div class="col-12 col-lg-5">
          <div class="mt-4 mt-sm-4 mt-md-0">
            <div class="d-flex flex-row">
              <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-list-check text-primary inline-block me-3" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
              </svg>
              <span class="fs-3 text-secondary fw-bolder align-self-center">The Xlera <br><span class="fst-italic text-primary">FPGA Victory</span> Plan</span>
            </div>
          </div>
          <div class="col-12 mt-sm-3">
            <ul class="list-unstyled fs-5 ">
              <li class="mb-lg-3">1) Book an introductory call to discuss what's important to you and understand your unique FPGA project needs <span class="text-secondary fw-bold">(we will even pay for it!)</span></li>
              <li class="mb-lg-3">2) Allow us to create a plan tailored to support <span class="text-secondary fw-bold">your</span> victory</li>
              <li>3) Let's execute that plan together</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="callout">
      <h1 class="text-primary text-center fw-bolder mb-5">Book a call to discuss what's important to you<br>and your unique FPGA needs</h1>
      <div class="text-center">
        <a href="/book-a-call" class="btn btn-accent me-3"> Book a call</a> <a href="#FPGAtalent" class="btn btn-outline-primary mt-3 mt-md-0"> Learn why FPGA talent is hard to find (and keep)</a>
      </div>
    </div>
  </section>
  <section class="my-5">
    <div class="victory-hero d-flex justify-content-end">
      <div class="w-100 w-md-100 w-lg-50 mx-lg-5 mx-2 ms-lg-0 me-lg-5 lh-sm lh-md-base align-self-center text-shadow">
        <h1 class="text-secondary-accent fw-boldest display-4 display-md-2 md-1 mb-md-5 text-center text-sm-start">Victory!</h1>
        <p class="text-white fs-5 mb-2 mb-lg-5">Create an <span class="text-secondary-accent fw-bolder text-shadow-sm">Opportunity Abundance</span> for you and your company by increasing your capacity without increasing your overhead and hassle. The alternative? It's lost competitiveness. You don't want that, and we don't want that for you. Instead, become that highly sought after company and leader, able to pick and choose your best opportunities and revenues. Grow your circle of influence, expand your company and your growth.</p>
        <p class="text-white fs-5">Become everyone's favorite go-to, on-top-of-it, FPGA project leader that delivers victories ... over and over again! We can help.</p>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="border border-secondary border-2 mx-4 pb-4 pt-5 px-4 shadow-sm">
            <h4 class="fw-bolder text-secondary text-decoration-underline text-underline-below mb-3 text-shadow-sm lh-md">
              Do You have a lot of projects?</h4>
            <p class="lh-lg-lg fs-7">Our VIP Program further offers guaranteed priority access across any project at any time. As a VIP you can reallocate FPGA talent across projects with ease and we handle sourcing additional talent as demands change, giving you a truly integrated virtual team experience that fits your business today and tomorrow.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-secondary-light pt-5" id="FPGAtalent">
    <div class="container my-5 py-md-10">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="d-flex flex-column justify-content-between h-100">
            <h2 class="text-secondary mb-4 fw-bolder text-shadow-sm">Why FPGA talent is hard to find and keep ... And what you can do about it in 3 simple steps!</h2>
            <p class="fs-6 lh-lg-lg">Do you love the awesome power and capability of FPGA's but hate the frustration of finding and keeping top FPGA talent? We're with you! We understand how it feels to need top FPGA talent but not have access to the right talent when needed. For over 20 years members of our team have built, operated, and been part of FPGA teams on projects of all sizes, experiencing those same feelings! This is what we have found...</p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <img src="/images/why-fpga-talent-is-hard-to-find.jpg" class="img-fluid mx-auto shadow">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <a href="#" data-bs-toggle="modal" data-bs-target="#downloadModal" class="btn btn-primary mt-3 mt-md-0"> Download Report Now</a>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white mb-5">
    <div class="container my-5 my-md-10">
      <div class="row">
        <div class="col-12 col-lg-6">
          <img src="/images/every-fpga-hero-needs-a-guide.jpg" class="img-fluid mx-auto shadow">
        </div>
        <div class="col-12 col-lg-6">
          <div class="d-flex flex-column justify-content-between h-100">
            <h1 class="text-secondary mb-3 mt-3 mt-lg-0 display-5 fw-bolder text-shadow-sm">Every FPGA Hero<br> Needs a Guide</h1>
            <p class="fs-5" style="text-align:justify ;">Xlera Solutions, LLC, exists to be a guide to those that choose to be everyone's favorite go-to, on-top-of-it, FPGA project leader that delivers consistant victories. Helping those companies that rely on FPGA's to defeat the enemy of time and opportunity destroying overhead.</p>
            <div>
              <a href="/about" class="btn btn-primary me-3 mt-3"> Learn More</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content shadow">
        <div class="modal-header border-bottom-0">
          <h6>Why FPGA talent is hard to find and keep<br>And what you can do about it in 3 simple steps!</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="fs-4 fw-bold">Get access to the report instantly!</p>
          <div id="downloadForm">
            <download-form @complete="closeModal"></download-form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="bookACallModal" tabindex="-1" aria-labelledby="bookACallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content bg-secondary-light shadow">
        <div class="modal-body p-md-0">
          <div class="container-fluid px-lg-0">
            <div class="row">
              <div class="col-12 col-lg-6 ps-md-0 d-none d-sm-none d-md-none d-lg-block"><img src="/images/popupImage.jpg" class="w-100 mx-auto mx-md-0 d-block" alt="..."></div>
              <div class="col-12 col-lg-6">
                <button type="button" class="btn-close float-end mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                <p class="text-secondary fs-5 fw-bolder pt-5 mb-4">Uncertain about how to achieve your next breakthrough FPGA Victory?</p>
                <p class="text-secondary fs-5 fw-bolder">Would scaling top FPGA talent both up and down as needed allow you to go after more business?</p>
                <p class="fs-6 fw-bolder mb-4">Book a 30 minute strategy call and get clarity with on-demand access to top FPGA talent, at the resource levels you demand.</p>
                <div class="text-center mb-4">
                  <a href="/book-a-call" class="btn btn-accent"> Book a call</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>