<div class="ateam-hero d-flex justify-content-center align-items-center">
  <div class="text-shadow">
    <h1 class="display-4 fw-bolder text-white mb-3">Join the <span class="text-secondary-lighter">A-Team</span>
    </h1>
    <p class="fs-3 text-center text-white">Make an <span class="text-secondary-lighter fw-bold fst-italic">Impact</span>,
      Have Fun</p>
  </div>
</div>
<main>
  <section class="py-5">
    <div class="container">

      <h1 class="text-center fw-bolder text-shadow-sm"><span class="text-primary fst-italic">Imagine</span> a world…</h1>
      <h3 class="text-secondary text-center fw-bolder mb-4 text-shadow-xs">surrounded by <span class="text-primary fst-italic">A-Players</span>, drawing inspiration and creativity from each other. Make an <span class="text-primary fst-italic">IMPACT</span> across a variety of projects, sharpening skills through experience, while helping others move forward in their FPGA journey.
      </h3>
      <p class="text-center fs-3 text-shadow-xs">That’s what we do… and we need your help!</p>

    </div>
  </section>
  <section class="py-5 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-column justify-content-center align-items-center col-12">
          <h1 class="text-white text-center text-shadow">
            <%= opportunity.name %>
          </h1>
          <a href="/apply" class="btn btn-lg btn-primary mt-3">Apply Now!</a>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="text-center w-100 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
              <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z" />
              <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
            </svg>
          </div>
          <h2 class="text-center text-shadow-xs">Join the mission to...</h2>
          <p class="text-center">Guide those that choose to be everyone’s favorite go-to, on-top-of-it, FPGA
            project leader that
            delivers consistent
            victories.</p>
        </div>
        <div class="col-12 col-md-6">
          <div class="text-center w-100 mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-easel" viewBox="0 0 16 16">
              <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0zM2 3v7h12V3H2z" />
            </svg></div>
          <h2 class="text-center text-shadow-xs">Our work is our art.</h2>
          <p class="text-center">We pursue it with a relentless commitment to EXCELLENCE. And constantly
            strive to grow and be
            better every day.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="fs-4 text-center text-shadow-xs">If inside you are saying <span class="text-secondary fw-bold">&ldquo;HELL YEAH!&rdquo;</span> then keep reading...</p>
          <p class="fs-4 text-center text-shadow-xs">When you join the Xlera Solutions A-Team you get to work with a hand-selected<br> and battle-tested <span class="text-secondary fw-bold">BADASS TEAM</span> of extraordinary people.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-shadow">
          <h1 class="text-white text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="d-none d-sm-block bi bi-exclamation-triangle me-3 inline-block" viewBox="0 0 16 16">
              <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
              <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
            </svg>
            WARNING: HIGH-ACHIEVERS ONLY
          </h1>
          <p class="text-white fw-light text-center fs-5">Please do not apply for this position unless you can and will prove that you are well versed <br>for this role. This is a highly coveted position and we will only settle for an A-Player.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="fw-bolder text-secondary text-shadow-sm">Are you THE EXCEPTION?</h1>
          <p class="fs-4 text-shadow-xs">If so, submit your information and follow the steps to apply (

            < 10 min).</p>

              <a href="/apply" class="btn btn-secondary btn-lg mt-3 mt-md-0 text-shadow-xs shadow-sm">Apply Now</a>
        </div>
      </div>
    </div>
  </section>