<div class="ateam-hero d-flex justify-content-center align-items-center">
  <div class="text-shadow">
    <h1 class="display-4 fw-bolder text-white mb-3">HELLO AND <span class="text-secondary-lighter">WELCOME!</span>
    </h1>
  </div>
</div>
<main>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" id="step1form">
          <form class="needs-validation" action="/step-1" method="post" novalidate v-on:submit.prevent="submit()" ref="form">
            <input type="hidden" name="page" value="Step 1 Page">
            <form-alerts :status="formStatus"></form-alerts>
            <h3 class="mb-5"><span class="text-secondary">Let’s get started!</span> Step 1 starts right now… <span class="text-nowrap text-secondary fst-italic fw-light fs-5">(&lt; 5 min)</span>
            </h3>
            <div class="mb-3">
              <label for="myLinkedinHeadline" class="form-label fw-bold">My LinkedIn Headline</label>
              <input type="text" class="form-control" id="myLinkedinHeadline" name="myLinkedinHeadline" v-model.trim="$v.form.myLinkedinHeadline.$model" :class="{ 'is-invalid': $v.form.myLinkedinHeadline.$error }">
              <div class="invalid-feedback fst-italic">
                Please enter your LinkedIn Headline.
              </div>
            </div>
            <div class="mb-3">
              <label for="firstName" class="form-label fw-bold">First Name</label>
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="firstName" name="firstName" v-model.trim="$v.form.firstName.$model" :class="{ 'is-invalid': $v.form.firstName.$error }">
                <div class="invalid-feedback fst-italic">
                  Please enter your first name.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label fw-bold">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" v-model.trim="$v.form.lastName.$model" :class="{ 'is-invalid': $v.form.lastName.$error }">
              <div class="invalid-feedback fst-italic">
                Please enter your Last Name.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label fw-bold">Company Email</label>
              <input type="text" class="form-control" name="email" id="email" v-model.trim="$v.form.email.$model" :class="{ 'is-invalid': $v.form.email.$error }">
              <div class="invalid-feedback fst-italic">
                Please enter a valid email address.
              </div>
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label fw-bold">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone" v-model.trim="$v.form.phone.$model" v-mask="'(###) ###-####'" :class="{ 'is-invalid': $v.form.phone.$error }">
              <div class="invalid-feedback fst-italic">
                Please provide a phone number for us to contact you Or uncheck the box below.
              </div>
            </div>
            <div class="mb-3">
              <label for="city" class="form-label fw-bold">City</label>
              <input type="text" class="form-control" id="city" name="city" v-model.trim="$v.form.city.$model" :class="{ 'is-invalid': $v.form.city.$error }">
              <div class="invalid-feedback fst-italic">
                Please enter your City.
              </div>
            </div>
            <div class="mb-3">
              <label for="state" class="form-label fw-bold">State</label>
              <input type="text" class="form-control" id="state" name="state" v-model.trim="$v.form.state.$model" :class="{ 'is-invalid': $v.form.state.$error }">
              <div class="invalid-feedback fst-italic">
                Please enter your State.
              </div>
            </div>
            <div class="mb-3">
              <label for="myLinkedinUrl" class="form-label fw-bold">My LinkedIn URL</label>
              <input type="text" class="form-control" id="myLinkedinUrl" name="myLinkedinUrl" v-model.trim="$v.form.myLinkedinUrl.$model" :class="{ 'is-invalid': $v.form.myLinkedinUrl.$error }">
              <div class="invalid-feedback fst-italic">
                Please enter your My LinkedIn URL.
              </div>
            </div>
            <div class="mb-3">
              <label for="threeUniqueStrengths" class="form-label fw-bold">What are three of your most unique and significant strengths as you would describe them?</label>
              <textarea class="form-control" id="threeUniqueStrengths" name="threeUniqueStrengths" rows="4" maxLength="580" v-model="form.threeUniqueStrengths"></textarea>
            </div>
            <div class="mb-3">
              <label for="valuableAddition" class="form-label fw-bold">Why do you want to work with us and why do you think you’d be a valuable addition?</label>
              <textarea class="form-control" id="valuableAddition" name="valuableAddition" rows="4" maxLength="580" v-model="form.valuableAddition"></textarea>
            </div>
            <div class="mb-3">
              <label for="yourSuperpowers" class="form-label fw-bold" :class="{ 'is-invalid': $v.form.myLinkedinUrl.$error }">Which of these skills do you consider your superpowers? Check any/all that apply.</label>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="projectManagement" value="project management" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="projectManagement" class="form-check-label">Project Management</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="clientCommunicationsInteraction" value="client communications interaction" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="clientCommunicationsInteraction" class="form-check-label">Client Communications &amp; Interaction</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="personalDevelopmentGrowth" value="personal development growth" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="personalDevelopmentGrowth" class="form-check-label">Personal Development / Growth</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="visualCommunication" value="visual communication" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="visualCommunication" class="form-check-label">Visual Communication</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="writtenCommunication" value="written communication" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="writtenCommunication" class="form-check-label">Written Communication</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="visualCommunication" value="visual communication" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="visualCommunication" class="form-check-label">Visual Communication</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fpgaSystemsArchitecture" value="fpga systems architecture" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="fpgaSystemsArchitecture" class="form-check-label">FPGA Systems Architecture</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fpgaDesign" value="fpga design" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="fpgaDesign" class="form-check-label">FPGA Design</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fpgaVerification" value="fpga verification" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="fpgaVerification" class="form-check-label">FPGA Verification</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fpgaBuildProcess" value="fpga build process" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="fpgaBuildProcess" class="form-check-label">FPGA Build Process</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fpgaTimingAnalysisAndResolution" value="fpgaTimingAnalysisAndResolution" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="fpgaTimingAnalysisAndResolution" class="form-check-label">FPGA Timing Analysis and Resolution</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="softwareDevelopment" value="software development" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="softwareDevelopment" class="form-check-label">Software Development</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="firmwareDevelopment" value="firmware development" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="firmwareDevelopment" class="form-check-label">Firmware Development</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="bigPictureStrategy" value="big picture strategy" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="bigPictureStrategy" class="form-check-label">Big Picture / Strategy</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="planning" value="planning" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="planning" class="form-check-label">Planning</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="copywriting" value="copywriting" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="copywriting" class="form-check-label">Copywriting</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="technicalWriting" value="technical writing" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="technicalWriting" class="form-check-label">Technical Writing</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="clearExplanationsOfComplexTopics" value="clear explanations of complex topics" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="clearExplanationsOfComplexTopics" class="form-check-label">Clear explanations of complex topics</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="marketingTeamLeadership" value="marketing team leadership" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="marketingTeamLeadership" class="form-check-label">Marketing Team Leadership</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="technicalTeamLeadership" value="technical team leadership" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="technicalTeamLeadership" class="form-check-label">Technical Team Leadership</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="graphicDesign" value="graphic design" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="graphicDesign" class="form-check-label">Graphic Design</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="effectiveDelegation" value="effective delegation" v-model.trim="$v.form.yourSuperpowers.$model">
                <label for="effectiveDelegation" class="form-check-label">Effective Delegation</label>
              </div>
            </div>
            <div class="mb-3">
              <label for="whereDidYouLearnAboutThisOpportunity" class="form-label fw-bold">Where did you learn about this opportunity</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Select One</option>
                <option value="Friend / Colleague">Friend / Colleague</option>
                <option value="Search">Search</option>
                <option value="Social Media">Social Media</option>
                <option value="Ad">Ad</option>
                <option value="A-Team Member">A-Team Member</option>
                <option value="Other">Other</option>
              </select>
              <div class="invalid-feedback fst-italic">
                Please tell us where you learned about this opportunity.
              </div>
            </div>
            <div class="col-12">
              <hr class="my-5">
              <button class="btn btn-secondary" type="submit" onClick>Submit and Continue</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>