<div class="ateam-hero d-flex justify-content-center align-items-center">
  <div class="text-shadow">
    <h1 class="display-4 fw-bolder text-white mb-3">BRAVO!<span class="text-secondary-lighter"> Step 1 Complete</span>
    </h1>
  </div>
</div>
<main>
  <section class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <p class="">Our journey together continues right now... For those who are truly ready to answer the call to adventure! Please read carefully. We’ll be awaiting your response!
          </p>
          <h4 class="mt-5">STEP 2: Getting to know you and your unique experience!</h4>
          <p class="">Record a screen share showing some of your work. Talk us through some of your best code and what drove your design decisions. You may also demo running code or simulations. Having your camera on during your recording is recommended.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1 col-lg-4 offset-lg-1">
          <div class="ratio ratio-16x9">
            <video poster="/video/placeholder-video-poster.png" loop="true" disablepictureinpicture="true" playsinline="true" controls>
              <source src="/video/placeholder-video.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <p class="text-center"> (5 minutes or less please)</p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <h4>IMPORTANT: See submission instructions below.</h4>
          <p>Now, don’t let this intimidate you! Communication skills are very important to success in this role as you will be interacting with other A-Team members. Simply use screen recording software and show us what a KICKASS A-Team member you would be!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-5">
    <div class="container quote">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div class="bg-primary-light p-5">
            <div class="position-relative border border-2 border-primary">
              <h4 class="text-white text-center p-sm-3 p-lg-5 fw-bolder">Courage is not the absence of fear. It is acting in spite of it.</h4>
              <span class="position-absolute top-100 start-50 translate-middle bg-primary-light text-secondary px-2 fs-6 fs-lg-5  px-sm-3 px-lg-5 fw-bold text-uppercase" style="z-index:1">Mark Twain</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 pb-10">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <h4>SUBMISSION INSTRUCTIONS</h4>
          <p>1. Upload your video to an online video sharing or file sharing platform.</p>
          <p>2. Send a LINK* to the video to: ATeam@XleraSolutions.com with the subject line “Why I’m awesome - fpga design and verification“</p>
          <p class="fst-italic text-secondary">*Please note that we receive large volumes of submissions and appreciate receiving your submission as a link rather than an attachment!</p>
          <h4 class="text-center mt-5">We look forward to learning more about YOU!</h4>
        </div>
      </div>
    </div>
  </section>